<a href="https://colab.research.google.com/github/juHa1205/NLP_2023/blob/main/0926.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str_data = 'I love python'
list_data = ['apple', 'banana', 'grapes', 'mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print (str_data)
print (list_data)
print(tuple_data)

In [ ]:
str_data = 'I love python'
list_data = ['apple', 'banana', 'grapes', 'mango']
tuple_data = ('apple', 'banana', 'grapes', 'mango')

print(str_data)
print(list_data)
print(tuple_data)

In [ ]:
strdata="I love Python"
print(strdata[0])
print(strdata[1])
print(strdata[2])
print(strdata[3])
print(strdata[4])
print(strdata[5])
print(strdata[6])
print(strdata[7])
print(strdata[8])
print(strdata[9])
print(strdata[10])
print(strdata[11])
print(strdata[12])

In [ ]:
strdata = "I love Python"
print(strdata[-1])
print(strdata[-2])
print(strdata[-3])
print(strdata[-6])
print(strdata[-7])
print(strdata[-12])

In [ ]:
strdata1 = "I'm very good"
print(strdata1[0])
print(strdata1[1])
print(strdata1[2])
print(strdata1[3])
print(strdata1[4])
print(strdata1[5])
print(strdata1[6])
print(strdata1[7])
print(strdata1[8])
print(strdata1[9])
print(strdata1[10])
print(strdata1[11])
print(strdata1[12])

In [ ]:
listdata = [1,2,[1,2,3]]
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])

In [ ]:
listdata1=[100,200,[500,600,700]]
print(listdata1[2][0])

In [ ]:
list_data = ['apple', 'banana', 'grapes', 'mango']
print(list_data)
list_data[0]="shine musket"

print (list_data)

In [ ]:
tuple_data = ('watermelon', 'melone', 'peach', 'strawberry')
#튜플은 처음 데이터를 수정(대체)못함.
tuple_data[0]="shine musket"

print (tuple_data)

In [ ]:
str_data = 'Time is money!!'
print(str_data[1:5])
print(str_data[:7])
print(str_data[9:])
print(str_data[:-3])
print(str_data[-3:])
print(str_data[:])
print(str_data[::2]) # 처음부터 끝까지 스텝을 2로 해서 슬라이싱 하기.

In [ ]:
strdata2='abcdefghijklmno'
print(strdata2)
print(strdata2[1:5])
print(strdata2[:7])
print(strdata2[9:])
print(strdata2[:-3])
print(strdata2[-3:])
print(strdata2[:])
print(strdata2[::4])# 처음부터 끝까지 스텝을 4로 해서 슬라이싱 하기.

In [ ]:
strdata1 = 'I love ' ; strdata2 = 'Python'
print(strdata1)
print(strdata2)
print(strdata1 + strdata2)
print(strdata1*5)

In [ ]:
#@markdown 💊 **Possibility 1️⃣ 💡**

strdata1 = 'I love '; strdata2='Python'
print (strdata1 + strdata2)

In [ ]:
#@markdown 💊 **Possibility 2️⃣ 💡**

strdata1 = 'I love '; strdata2=' Python'
print (strdata1 + strdata2)

In [ ]:
#@markdown 💊 **Possibility 3️⃣ 💡**

strdata1 = 'I love'; strdata0 = ' '; strdata2='Python'
print (strdata1 + strdata0 + strdata2)

In [17]:
#@markdown 💊 Possibility 1️⃣ 💡

subject = 'BTS '; verb= 'sings '; object = 'butter'
sentence = subject + verb + object * 5

In [18]:
subject = 'BTS'; verb= 'sings'; object = 'butter'; space=' '
sentence = subject + space + verb + space + object
print (sentence)

BTS sings butter

In [ ]:
#@markdown 💊 Possibility 1️⃣ 💡

subject = 'BTS '; verb= 'sings '; object = 'butter'
sentence = subject + verb + object * 5
print(sentence)

In [ ]:
#@markdown 시퀀스 자료 크기 이해하기 (len)

str_data = 'I love Python'
print(len(str_data))