<a href="https://colab.research.google.com/github/juHa1205/NLP_2023/blob/main/1031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import re

text = "123 Main Street and 5 Avenue "
pattern = r"\d+\s\w"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:",i)

print("Match:", matches)

Match: 123 M
Match: 5 A
Match: ['123 M', '5 A']

In [5]:
text = "123 Main Street and 5 Avenue "
pattern = r"\d+\s\w+"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:",i)

print("Match:", matches)

Match: 123 Main
Match: 5 Avenue
Match: ['123 Main', '5 Avenue']

In [8]:
text = "123 _Main_ Street_ and 5th Avenue "
pattern = r"\d+\s\w+"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:",i)

Match: 123 _Main_

In [10]:
def add_txt(t1,t2):
  print(t1 + t2)

def add_txt(t1,t2):
    result= t1 + t2
    return result

In [11]:
text1 = "Fall"
text2 = "Semester"

combined_text = add_txt(text1, text2)
print(combined_text)

FallSemester

In [12]:
def add_number(n1,n2):
  print(n1+n2)

def add_number(n1,n2):
  result = n1 + n2
  return result

In [14]:
name = "Alice"
score = 95
age = 18

test_result = "You scored %d on the test."%score
print(test_result)

greeting ="Hello, %s! You turn to %d years old finally."%(name,age)
print(greeting)

print("You scored %d on the test." %score)
print("Hello, %s! You turn to finally %d years old finally." %(name, age))

You scored 95 on the test.
Hello, Alice! You turn to 18 years old finally.
You scored 95 on the test.
Hello, Alice! You turn to finally 18 years old finally.

In [17]:
subject= "전기전자공학과"
grade = 3
print("나는 %s %d학년 입니다."%(subject,grade))

나는 전기전자공학과 3학년 입니다.

In [18]:
def add(a,b):
  result = a+b
  return result

num1 = 5
num2 = 3

sum_result = add(num1, num2)

print("The sum of %d and %d is %d" %(num1,num2,sum_result))

The sum of 5 and 3 is 8

In [19]:
def add_and_print(a,b):
  result= a+b
  print("The sum of %d and %d is %d"%(a,b,result))
  return result

sum_resul = add_and_print(3,4)

The sum of 3 and 4 is 7

In [22]:
def add_txt1(t1,t2='Python'):
  print(t1+':'+t2)

add_txt1('Best')
add_txt1(t1='My friend', t2='Python')
add_txt1(t1='My buddy')

Best:Python
My friend:Python
My buddy:Python

In [24]:
def func_uncertain(*args):
  print(args)

func_uncertain()

func_uncertain(1,2,3)
func_uncertain('apple','banana','cheery','date')
func_uncertain(True)

()
(1, 2, 3)
('apple', 'banana', 'cheery', 'date')
(True,)

In [25]:
def func_kwa(width,height,**kwargs):
  print(kwargs)

func_kwa(10,20)
func_kwa(10,20,depth=30,color='blue')

{}
{'depth': 30, 'color': 'blue'}

In [26]:
def myfunction():
  print("Hello World")

list = [1,2,myfunction]

list[2]()
myfunction()

Hello World
Hello World