<a href="https://colab.research.google.com/github/juHa1205/NLP_2023/blob/main/1112.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
fruit = ["사과", "귤", "수박"]
for i in fruit:
    print(fruit)

['사과', '귤', '수박']
['사과', '귤', '수박']
['사과', '귤', '수박']

In [ ]:
for a in ["A", "B", "C"]:
  print(a)

In [3]:
print(list(range(0, 10, 2)))
[0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]