<a href="https://colab.research.google.com/github/juHa1205/NLP_2023/blob/main/1113.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
price_list = [32100, 32150, 32000, 32500]

for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [3]:
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [4]:
for i in range(len(price_list)):
    print(3 - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [5]:
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [6]:
my_list = ["가", "나", "다", "라"]

In [7]:
print(my_list[0], my_list[1])
print(my_list[1], my_list[2])
print(my_list[2], my_list[3])

가 나
나 다
다 라

In [8]:
for i in [0, 1, 2]:
    print(my_list[i])

가
나
다

In [9]:
for i in [0, 1, 2]:
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [10]:
for i in range( len(my_list) - 1 ) :
  print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [11]:
for i in range( 1, len(my_list) ) :
  print(my_list[i-1], my_list[i])

가 나
나 다
다 라